---

- name: Create aws ec2 instances
  hosts: localhost
  gather_facts: False
  vars:
    keypair: zar-key-pem
    instance_type: t2.micro
    security_group: default
    image: ami-08962a4068733a2b6
    region: us-east-2
    vps_subnet: subnet-68c8d312
  tasks:
    - name: Ensure pip pakage is present
      apt:
        name: python3-pip
        state: present
    - name: Ensure boto python package
      pip:
        name: boto

    - name: Upload public key to AWS
      amazon.aws.ec2_key:
        name: "{{ keypair }}"
        key_material: "{{ lookup('file', '~/.ssh/my_aws.pub') }}"
        region: "{{ region }}"
        aws_access_key: "{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}"
        aws_secret_key: "{{ lookup('env', 'AWS_ACCESS_KEY') }}"

    - name: Launch instance
      amazon.aws.ec2:
        aws_access_key: "{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}"
        aws_secret_key: "{{ lookup('env', 'AWS_ACCESS_KEY') }}"
        key_name: "{{ keypair }}"
        group: "{{ security_group }}"
        instance_type: "{{ instance_type }}"
        image: "{{ image }}"
        wait: yes
        region: "{{ region }}"
        vpc_subnet_id: "{{vps_subnet}}"
        assign_public_ip: yes
        instance_tags:
          exersise: '13'
          Name: "builder"
        count_tag: exersise
        exact_count: 1
      register: ec2

    - name: Add new instance to host group
      add_host:
        name: "{{ ec2.instances[0].public_ip }}"
        groupname: builders

    - name: Wait for SSH to come up
      delegate_to: "{{ ec2.instances[0].public_dns_name }}"
      wait_for_connection:
        delay: 120
        timeout: 320
      loop: "{{ ec2.instances }}"

- name: Builder run
  hosts: builders
  remote_user: ubuntu
  become: yes
  tasks:
    - name: Ensure git package is present
      apt:
        name: git
        state: present