---

- name: Create aws ec2 instances
  hosts: localhost
  gather_facts: False
  vars:
    keypair: zar-key-pem
    instance_type: t2.micro
    security_group: default
    image: ami-08962a4068733a2b6
    region: us-east-2
    vps_subnet: subnet-68c8d312
  tasks:
    - name: Ensure pip pakage is present
      apt:
        name: python3-pip
        state: present
    - name: Ensure boto python package
      pip:
        name: boto
    - name: Launch instance
      amazon.aws.ec2:
        id: i-0bfb3c86ced3590b4
        aws_access_key: "{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}"
        aws_secret_key: "{{ lookup('env', 'AWS_ACCESS_KEY') }}"
        key_name: "{{ keypair }}"
        group: "{{ security_group }}"
        instance_type: "{{ instance_type }}"
        image: "{{ image }}"
        wait: true
        region: "{{ region }}"
        vpc_subnet_id: "{{vps_subnet}}"
        assign_public_ip: yes
        instance_tags:
          name: builder-item
      register: ec2
    - name: Instances ID
      debug:
        msg: "ID: {{ item.instance_id }} - State: {{ item.state.name }} - Public DNS: {{ item.public_dns_name }}"
      loop: "{{ ec2.result }}"
    - name: Add new instance to host group
      add_host:
        hostname: "{{ item.public_ip }}"
        groupname: builders
      loop: "{{ ec2.instances }}"

- name: Builder run
  hosts: builders
  remote_user: ubuntu
  become: yes
  tasks:
    - name: Ensure git package is present
      apt:
        name: git
        state: present